<!-- Melvin Kurian -->
<body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="font-size:200%;">Secure Mail</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form" action='/signin' method='post'>
         
<div  class="form-group">
<input class="form-control string" id='name' name='name' type='text' placeholder="User Name" >
</div>
<div class="form-group" style="padding:3px;">
<input  class="form-control password" id='pass' name='pass' type='password' placeholder="Password">
</div>
<div class="form-group" id="submit_record__row">
<div class="col-sm-9 col-sm-offset-3">
<input class="btn btn-primary" type="submit" value="Log In">
</div>
</div>
</form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Sample Template</h1>
        <p>This is a template for Secure Mail website. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p> Q: "Whats the object-oriented way to become wealthy?" <br> A: Inheritance </p>
          <p> Q: how many programmers does it take to change a light bulb? <br> A: none, that's a hardware problem </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>A SQL query goes into a bar, walks up to two tables and asks, "Can I join you?" </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>A man flying in a hot air balloon suddenly realizes he is lost. He reduces height and spots a man down below. He lowers the balloon further and shouts to get directions, <br><br>"Excuse me, can you tell me where I am?"<br> <br>The man below says: "Yes. You're in a hot air balloon, hovering 30 feet above this field."<br><br>"You must work in Information Technology," says the balloonist.<br><br>"I do" replies the man. "How did you know?"<br><br>"Well," says the balloonist, "everything you have told me is technically correct, but It is of no use to anyone."<br><br>The man below replies, "You must work in management."<br><br>"I do," replies the balloonist, "But how did you know?"<br><br>"Well", says the man, "you don't know where you are or where you are going, but you expect me to be able to help. You are in the same position you were before we met, but now it is my fault."</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
	  
      <hr>
      <footer>
        <p>&copy; Company 2015</p>
      </footer>
    </div> <!-- /container -->        
       
    </body>
</html>