<div class="container-fluid">
  <div class="row">
   <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2">
    <form method="post" action="/readmail">
     <div class="form-group ">
      <label class="control-label requiredField" for="emailpass">
       Password
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="emailpass" name="emailpass" type="password"/>
	  <span class="help-block" id="hint_emailpass">
       This email is encrypted. To open, enter the password for this email
      </span>
     </div>
	<~~!!@@fields@@!!~~>
     <div class="form-group">
      <div>
       <button class="btn btn-primary " name="submit" type="submit">
        Submit
       </button>
      </div>
     </div>
    </form>
   </div>
  </div>
 </div>