
<!-- Melvin Kurian -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"> <!-- utf-8 works for most cases -->
    <meta name="viewport" content="width=device-width"> <!-- Forcing initial-scale shouldn't be necessary -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Use the latest (edge) version of IE rendering engine -->
    <title>SecMail Web Client</title> <!-- The title tag shows in email notifications, like Android 4.4. -->
	<link rel="stylesheet" type="text/css" href="layout/bootstrap.css">
</head>


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> <a class="navbar-brand" href="/">SecMail Web Client</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="/">Home</a>
						</li>
						<li>
							<a href="/inbox">Inbox</a>
						</li>
						<li>
							<a href="/newemail">New Email</a>
						</li>
						<li>
							<a href="/whoami">Profile</a>
						</li>
						<li>
							<a href="/signout">Logout</a>
						</li>
					</ul>
				</div>
				
			</nav>
			
			<div class="row">
				<div class="col-md-12">